<h1>新規作成</h1>
<table>
    <%= form_for(@news, url:{controller:'news', action:'create'}) do |form| %>
    <tr>
        <th>名前</th>
        <td><%= form.text_field :username %></td>
    </tr>
    <tr>
        <th>投稿内容</th>
        <td><%= form.text_field :text %></td>
    </tr>
    <tr>
        <th></th>
        <td><%= form.submit '投稿' %></td>
    </tr>
    <% end %>
</table>